@import   "../../scss/mixins";

.navbar{

background: #297c91b9;
@include flex(row,wrap,1rem,space-between);
padding: .6rem 1.3rem;
position:sticky;
top: 0;
z-index: 4;


}


.logo{

    width: 100px;
    height: 90px;
}
.links{
    @include flex(row,wrap,1rem,space-between);
 a{

    text-decoration: none;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: black;
   
    transition: transform 0.6s ease-in-out;

    &:hover{
        background-color:rgba(0, 0, 0, 0.7) ;
        color: rgb(54, 174, 204);
        transform: scale(1.1);
    }
 }
    
   
   }