@import   "../../scss/mixins";

.navbar{

background: rgb(30, 54, 51);
background: linear-gradient(90deg, rgba(0,36,32,1) 0%, rgba(63,96,124,1) 35%, rgba(0,212,255,1) 100%);
padding: .7rem;
@include flex(row,wrap,1rem,space-between)


}


.logo{

    width: 50px;
    height: 50px;
}
.links{
    @include flex(row,wrap,1rem,space-between);
 a{

    text-decoration: none;
 }
    
   
   }