@mixin media-lg {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }

  @mixin media-md {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

  @mixin media-sm {
    @media screen and (max-width: 576px) {
      @content;
    }
  }

  @mixin media-xsm {
    @media screen and (max-width: 0px) {
      @content;
    }
  }